<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <form method="post">
    <table border="0">
        <tr>
            <td><h2>Name:</h2></td>
            <td>
                <label>First Name:</label> <input type="text" name="fname" value="{{ results.first_name }}">
                <label>Last Name:</label> <input type="text" name="lname" value="{{ results.last_name }}">
                <label>Vanity URL:</label> <input type="text" name="vname" value="{{ results.vanity }}">
                <br><br>
                <hr>
            </td>
        </tr>
        <tr>
            <input type="submit" name="new-entry-button">
        </tr>
    </table>
    </form>
</body>
</html>