<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <form method="post">
        <h2>Employment History:</h2><br>
        <label>Years (example input format- November 1999):</label>
        <input type="text" name="start_yr" value="">
        <input type="text" name="end_yr" value="">
        <br>
        <label>Job Title:</label> <input type="text" name="emp_tle" value="">
        <br>
        <label>Company Name:</label> <input type="text" name="comp_name" value="">
        <br>
        <label>City:</label><input type="text" name="comp_city" value="">
        <label>Province:</label><input type="text" name="comp_prov" value="">
        <label>Country:</label><input type="text" name="comp_nation" value="">
        <br><br>
        <input type="submit" name="new-JH-button">
    </form>
</body>
</html>