<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <form method="post">
        <h2>Projects</h2><br>
        <label>Name:</label> <input type="text" name="proj_name" value="">
        <br>
        <label>Description:</label>
        <textarea name="proj_para"></textarea>
        <br>
        <label>Link(if any):</label> <!-- Link to the project-->
        <input type="text" name="proj_link" value="">
        <br>
        <!-- TODO Insert quote field here -->
        <br><br>
        <input type="submit" name="new-PP-button">
    </form>
</body>
</html>